body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400px;
    font-size: 15px;
    width: 1440px;
    height: 1024px;
    border: 12px solid aqua;
}

header {
    background-color: #E5E5E5;
    text-align: center;
}

header div img {
    height: 147px;
    width: 100px;
    margin: 0 auto
}

header h1 {
    font-size: 35px
}

main{
    width: 1041px;
    margin: 0 auto
}

h1,
h2 {
    background-color: #C4C4C4;
    color: #005677;
    letter-spacing: 8px;
}

span {
    font-weight: bold;
}

ul {
    list-style-type: none;
    line-height: 23px;
}

ul li ul {
    display:inline-block;
    vertical-align: top;
}

.bullet {
    list-style-type: disc;
}

footer {
    background-color: #005677;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
}

