body {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    width: 1440px;
    font-size: 15px;
    line-height: 12,7px;
}

img {
    max-width: 100px;
}

header { 
    background-color: #E5E5E5;
}

h1,
h3 { 
    letter-spacing: 8px;
    color: #005677;
    background-color: #C4C4C4;
    font-weight: 700;
}

h3 {
    padding-left: 8px;
}

span{
    font-weight: bold;
}

ul.bullet li{
    list-style-type:disc;
}

ul.nested{
    display:inline-block;
    vertical-align: top;
    padding-left: 8px;
}

ul li{
    list-style-type: none;
    vertical-align: top;
}

.italic{
    font-style: italic;
}

.titular {
    text-align: center;
}

.center {
    display:block;
    margin:auto
}

.align{
    text-align: center;
}

.padding{
    padding-left: 12px;
}

footer {
    font-size: 20px;
    margin: auto;
    height: 37px;
    line-height: 37px;
    background-color: #005677;
    color: #FFFFFF;
    font-weight: 700;
    vertical-align: middle;
}