* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    width:1024px;
    font-family: 'Roboto', sans-serif;
}

.ofertas {
    width: 1024px;
    background-color: #222222;
    color: #F3F3F3;
    font-size: 10px;
    height: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.contenedor1 {
    margin-left: 90px
}

.contenedor2 {
    margin-right: 60px;
}

.contenedor2 ul li {
    display:inline-flex;
    padding-left: 20px;
}

.fas {
    padding-left: 2.5px;
    color: #F3F3F3;
}

.navBar {
    height: 62px;
    width: 1024px;
    background-color: #F0A83E;
    font-size: 13px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoHeader {
    margin-left: 50px;
}

.navList li {
    display: inline;
    padding: 20px
}

.navList a {
    text-decoration: none;
    color: #FFFFFF;
}

.bowl {
    background-image: url('../IMG/Bowl.png');
    background-size: cover;
    height: 409px;
    position: relative;
}

.b1 {
    position: absolute;
    margin-left: 648px;
    margin-top: 156px;
    font-size: 30px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    color: #3C2313;
}

.b2 {
    position: absolute;
    margin-left: 740px;
    margin-top: 222px;
    font-size: 16px;
}

.b3 {
    position: absolute;
    margin-left: 767px;
    margin-top: 253px;
    background-color: #F0A83E;
    border-radius: 5px;
    padding: 15px 23px;
}

.b3 a {
    text-decoration: none;
    color: #FFFFFF;
}

.destacados {
    text-align: center;
    margin: auto;
}

.patita {
    margin-top: 25px;
}

.titulo1 {
    font-size: 40px;
    font-weight: bold;
}

.subtitulo {
    font-size: 15px;
    color: #666666;
    margin-top: 20px;
}

.productos {
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.productBox {
    background-color: #FBFAF6;
    margin: 10px;
}

.descripcion {
    font-size: 15px;
    color: #3C2313;
    font-weight: 900;
}

.precio {
    font-size: 15px;
    color: #F0A83E;
}

.contacto {
    margin-top: 30px;
}

.contacto {
    display: flex;
    justify-content: center;
}

.contenedor3 {
    width: 340px;
    height: 264px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo2 {
    text-align: center;
    font-size: 25px;
    color: #3C2313;
    font-weight: bold;
    margin-bottom: 20px;
}

.forms {
    width: 340px;
    height: 40px;
    background-color: #3C2313;
    border-radius: 15px;
    font-size: 9px;
    color: #FFFFFF;
    line-height: 11px;
    text-align: left;
    padding: 15px;
    margin-bottom: 10px;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boton {
    width: 110px;
    height: 34px;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 15px;
    text-align: center;
    padding: 8px 25px;
    margin-top: 6px;
    margin-bottom: 75px;
}

.boton1 {
    background-color: #8A8787;
    margin-right: 3px;
}

.boton2 {
    background-color: #F0A83E;
    margin-left: 3px;
}

.suscripcion {
    height: 60px;
    background-color: #F0A83E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.susc1 {
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 20px;
}

.susc2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 346px;
    height: 40px;
    margin-right: 47px;
}

.correo {
    width: 271px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 15px;
    font-size: 9px;
    color: #A0A0A0;
    line-height: 40px;
    text-indent: 8px;
    margin: 5px;
}

.suscButton {
    width: 70px;
    height: 34px;
    background-color: #3C2313;
    border-radius: 15px;
    font-size: 9px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 34px;
    text-align: center;
}

.datos {
    height: 284px;
    background-color: #3C2313;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 70px;
}

.links2 {
    height: 70px;
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}

.links2 div {
    padding: 10px;
}

.colorF2 {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}

.colorF3 {
    font-size: 10px;
    font-weight: bold;
    color:#8A8787;
}

.copyright {
    height: 20px;
    background-color: #222222;
    color: #FFFFFF;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
}