/* GLOBAL */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* BODY */

body {
    width: 1024px;
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

/* HEADER */

header {
    height: 100px;
    background-color: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}

header div {
    margin: 20px;
}

header div ul {
    list-style-type: none;
    display:inline-flex;
}

header div ul li {
    padding: 6.5px;
}

a {
    color: #F3F3F3;
    text-decoration: none;
}

/* MAIN */

main {
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECTION */

section {
    width: 490px;
    height: 350px;
    border-radius: 5px;
}

span {
    color: #FFFFFF;
}

/* LEFTSECTION */

.left {
    background-image: url('../IMG/delivery.jpg');
    background-size: cover;
}

.left p {
    margin-right: 5px;
    font-size: 24px;
    font-weight: bold;
    color: #FC200C;
    margin-top: 20px;
    margin-left: 20px;
}

/* RIGHTSECTION */

.right {
    margin-left: 5px;
    background-color: #FFFFFF;
}

.rightTitle {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: #FC200C;
    margin-top: 20px;
    margin-left: 160px;
    text-align: center;
}

.podio {
    position: absolute;
    font-weight: bold;
    margin-top: 112px;
    margin-left: 69px;
}

.podio ol li {
    padding-bottom: 10px;
    line-height: 19px;
}

.top {
    font-size: 20px;
    margin-bottom: 20px;
}

.falling {
    position: relative;
    left: 325px;
    top:132px;
}

/* FOOTER */

footer {
    height: 150px;
    background-color: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerList {
    margin: 20px;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    padding: 6px;
}

footer .logo {
    margin-right: 40px;
}